#canvasBox{
    border: 1px solid black;
}
#container{
    margin: 30px 0px 0px 32px;
    display: flex;
}
#btnContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#btnBox{
    display: flex;
    flex-direction: column;
}
#btnContainer button{
    height: 50px;
    width: 50px;
}
#btnBox button{
    font-size: 40px;
}
#messageContainer{
    position: absolute;
    top: 30px;
    left: 580px;
}
#infoBox{
    border: 1px solid black;
    height: 60px;
    overflow: auto;
    padding: 5px;
    width: 400px;
}
#infoBox p{
    margin: 0px;
}
.settingBox{
    margin-bottom: 10px;
}
input[type=color]{
    height: 100px;
    width: 100px;
}
input[type=number]{
    width: 90px;
}
h4{
    margin: 0;
}
.username{
    font-weight: bold;
    color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
}